$maximum-width: 400px;
$font-scale: 0.15;
$bar-height: 20px;
$grey: #888;
$accent: #f80;
$spacing-unit: 20px;

* { box-sizing: border-box; }

h1, h2, h3, h4 {
  margin: 0 0 $spacing-unit 0;
  padding: 0;
}

body {
  font-family: serif;
}

#board {
  position: relative;
  max-width: $maximum-width;
  font-size: $font-scale * 100vw;
  font-weight: bold;
  margin-bottom: $spacing-unit;

  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  div {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid black;

    display: flex;
    flex-wrap: wrap;

    div {
      position: relative;
      display: block;
      border: 2px solid black;
      text-align: center;
      width: 25%;
      height: 25%;
      margin: 0;
      padding-top: 3.5%;

      &.east  { transform: rotate(90deg);  }
      &.south { transform: rotate(180deg); }
      &.west  { transform: rotate(270deg); }

      &.ambiguous { text-decoration: underline; }
    }
  }
}

#countdown {
  max-width: $maximum-width;
  height: $bar-height;
  background-color: $grey;
  margin-bottom: $spacing-unit;

  div {
    background-color: $accent;
    height: $bar-height;
    width: 0;
  }
}

@media only screen and (min-width: $maximum-width)  {
  #board {
    font-size: $font-scale * $maximum-width;
  }
}
